#product {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 55px 1fr 120px;
}

.logo {
    position: absolute;
    justify-self: start;
    left: 40px;
}
.head {
    height: 55px;
    grid-row: 2/3;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: end;
}


.btn {
    background: #F3F3F3;
}

.btns {
    
    justify-self: end;
    margin-right: 40px;
}

.footer {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}
.footer p {
    justify-self: end;
    margin-right: 40px;
    color: #9A1212;
}
.back-btn {
    height: 70px;
    width: 90px;
    background: #fff;
    border-radius: 15px;
    z-index: 100;
}

.back-btn a {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.back-btn img {
    height: 55px;
}
.product-info {
    z-index: 50;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}
.product-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.pruduct-description {
    display: grid;
    grid-template-columns: 600px 1fr;
    height: 500px;
    width: 900px;
    background: #9A1212;
    border-radius: 30px;
}

.pruduct-description p {
    text-align: right;
    font-size: 35px;
    color: #fff;
    align-self: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.pruduct-description img {
    height: 100%;
    border-radius: 30px;
}

.vetka-4 {
    position: absolute;
    right: 0;
    bottom: 60px;
    z-index: 2;
}

@media screen and (max-height: 850px){
    .pruduct-description {
        grid-template-columns: 500px 200px;
        height: 400px;
        width: 700px;
    }
    
    .pruduct-description p {
        font-size: 33px;
        padding: 0 10px;
    } 
}

@media screen and (max-width: 1500px){
    .pruduct-description {
        grid-template-columns: 500px 200px;
        height: 400px;
        width: 700px;
    }
    
    .pruduct-description p {
        font-size: 33px;
        padding: 0 10px;
    } 
}

@media screen and (max-width: 1500px){
    .head {
        justify-content: center;
    }
    .btns {
        margin-right: 0;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-height: 750px){
    .pruduct-description {
        grid-template-columns: 320px 200px;
        height: 300px;
        width: 500px;
    }
    
    .pruduct-description p {
        font-size: 20px;
        padding: 0 10px;
    }
    .product-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 850px){
    .back-btn {
        height: 55px;
        width: 70px;
        background: #fff;
        border-radius: 15px;
    }
    
    .back-btn a {
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .back-btn img {
        height: 45px;
    }
    .head {
        height: 45px;
    }
    .pruduct-description {
        grid-template-columns: 320px 200px;
        height: 300px;
        width: 500px;
    }
    
    .pruduct-description p {
        font-size: 20px;
        padding: 0 10px;
    }
    .product-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 850px){
    .head {
        height: 35px;
    }

    .pruduct-description {
        grid-template-columns: 200px 160px;
        height: 265px;
        width: 360px;
    }
    
    .pruduct-description p {
        font-size: 15px;
        padding: 0 10px;
    }
    .footer {
        padding-left: 10px;
    }
    .footer p {
        margin-right: 5px;
        font-size: 15px;
    }

}