.select {
    background-color: #9A1212;
    transform: scale(1.3);
    color: white;
}

.select a {
    color: white;
}

.f-text {
    font-size: 20px;
    color: #9A1212;
    margin-right: 40px;
}
.footer {
    display: flex;
    justify-content: space-between;
}



.comp-content {
    position: relative;
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.comp-text {
    padding-left: 10px;
    font-size: 32px;
    text-align: right;
}

.comp-img {
    position: absolute;
    left: -20px;
    top: 0;
    width: 17%;
}

@media screen and (max-width: 1200px) {
    .comp-text {
        font-size: 25px;
        padding-left: 100px
    }
}

@media screen and (max-width: 900px) {
    .comp-text {
        font-size: 17px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 800px) {
    .select {
        margin: 0 20px;
    }

    .comp-img {
        display: none;
    }

    .comp-text {
        text-align: center;
    }

    .f-text {
        font-size: 17px;
        margin-right: 10px;
        margin-left: 5px;
    }
}

